.grid {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 80px;
}

.parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parent {
  height: 100%;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 3 / 1 / 4 / 2;
}
.div3 {
  grid-area: 1 / 2 / 2 / 4;
}
.div4 {
  grid-area: 2 / 2 / 4 / 3;
}
.div5 {
  grid-area: 2 / 3 / 3 / 4;
}
.div6 {
  grid-area: 3 / 3 / 4 / 4;
}

.grid .button-orange {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 10px;
  text-align: center;
  margin: 0 auto;
  width: 176px;
  height: 52px;
  margin-top: 80px;
  color: white;
  background: #ff5a00;
}

.grid-title .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: white;
}

.grid-title .title .orange {
  color: #ff5a00;
}

.grid-title h2 strong ::after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 999px;
  top: 50%;
  right: -18px;
  position: absolute;
  background-color: #00dbfb;
  transform: translateY(-50%);
}

.grid-title h2 strong ::before {
  content: '';
  width: 12px;
  height: 12px;
  top: 50%;
  left: -18px;
  position: absolute;
  background-image: url(../images/dove-orange.png);
}
